deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
    path_prefix: /var/loki
    storage:
      filesystem:
        chunks_directory: /var/loki/chunks
        rules_directory: /var/loki/rules

  limits_config:
    reject_old_samples: true
    reject_old_samples_max_age: 168h # Chấp nhận log cũ tối đa 7 ngày
    creation_grace_period: 2h        # Cho phép lệch thời gian hệ thống 2 giờ
    allow_structured_metadata: true
        
  storage:
    type: 'filesystem'
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

# Cấu hình Pod Single Binary
singleBinary:
  replicas: 1
  persistence:
    enabled: false  # Vẫn để false để tránh lỗi PV trên Kind
  
  # GIẢI PHÁP: Gắn ổ đĩa tạm có quyền ghi vào /var/loki
  extraVolumes:
    - name: storage
      emptyDir: {}
  extraVolumeMounts:
    - name: storage
      mountPath: /var/loki

# Cấp quyền cho user loki truy cập ổ đĩa vừa gắn
lokiInterface:
  securityContext:
    fsGroup: 10001
    runAsGroup: 10001
    runAsUser: 10001

# Giữ nguyên các phần tắt thành phần thừa
lokiCanary: {enabled: true}
gateway: {enabled: false}
backend: {replicas: 0}
read: {replicas: 0}
write: {replicas: 0}
chunksCache: {enabled: false}
resultsCache: {enabled: false}