loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  
  # Cấu hình lưu trữ Filesystem
  storage:
    type: 'filesystem'
  
  # Cấu hình Schema và ép sử dụng filesystem cho cả Index và Chunks
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem # Quan trọng: phải là filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

# Ép Loki chạy ở chế độ 1 Pod duy nhất, không dùng chế độ Scalable
deploymentMode: SingleBinary

# Vô hiệu hóa các thành phần không cần thiết cho Single Binary để tránh lỗi Validate
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

# Cấu hình gateway đơn giản
gateway:
  enabled: true