deploymentMode: SingleBinary

loki:
  auth_enabled: false
  
  # Ép toàn bộ lưu trữ vào thư mục nội bộ của Pod
  commonConfig:
    replication_factor: 1
    path_prefix: /var/loki
    storage:
      filesystem:
        chunks_directory: /var/loki/chunks
        rules_directory: /var/loki/rules

  storage:
    type: 'filesystem'

  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

# Cấu hình Pod Single Binary
singleBinary:
  replicas: 1
  persistence:
    enabled: false # Quan trọng cho Kind: Không dùng PV để tránh lỗi kẹt
  
# Sửa lỗi Permission Denied
lokiInterface:
  securityContext:
    fsGroup: 10001
    runAsGroup: 10001
    runAsUser: 10001

# Vượt qua lỗi Validate của Helm
lokiCanary:
  enabled: true

# Tắt sạch các thành phần gây tốn tài nguyên và lỗi 502
gateway:
  enabled: false
backend: {replicas: 0}
read: {replicas: 0}
write: {replicas: 0}
chunksCache: {enabled: false}
resultsCache: {enabled: false}