loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h
  # Tắt cache để tránh lỗi Pending do thiếu tài nguyên
  chunksCache:
    enabled: false
  resultsCache:
    enabled: false

deploymentMode: SingleBinary

# Tắt các thành phần của chế độ Scalable
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0
gateway:
  enabled: true