deploymentMode: SingleBinary

loki:
  auth_enabled: false
  
  # Cấu hình lưu trữ
  storage:
    type: 'filesystem'
  
  commonConfig:
    replication_factor: 1
    path_prefix: /var/loki
    storage:
      filesystem:
        chunks_directory: /var/loki/chunks
        rules_directory: /var/loki/rules

  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

# Sửa lỗi Permission và ép chạy
singleBinary:
  replicas: 1
  persistence:
    enabled: false # Dùng emptyDir để tránh lỗi ổ đĩa trên Kind
  extraArgs:
    - "-config.expand-env=true"

# Tắt toàn bộ các thành phần gây nhiễu
backend: {replicas: 0}
read: {replicas: 0}
write: {replicas: 0}
gateway: {enabled: false}
chunksCache: {enabled: false}
resultsCache: {enabled: false}
lokiCanary: {enabled: true}

# Cấp quyền ghi vào /var/loki
lokiInterface:
  securityContext:
    fsGroup: 10001
    runAsGroup: 10001
    runAsUser: 10001