loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
    bucketNames:
      chunks: 'chunks'
      index: 'index'
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

# Ép chế độ chạy Single Binary
deploymentMode: SingleBinary

# SỬA LỖI VALIDATE: Bật Canary nhưng cấu hình tối giản
lokiCanary:
  enabled: true

# Tắt các thành phần Scalable để tránh lỗi Object Storage
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

# Cấu hình Single Binary
singleBinary:
  replicas: 1
  persistence:
    enabled: false # Dùng emptyDir để không bị kẹt Pending do thiếu PV

# Tắt các thành phần không cần thiết khác
gateway:
  enabled: false
chunksCache:
  enabled: false
resultsCache:
  enabled: false