loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
    bucketNames:
      chunks: 'chunks'
      index: 'index'
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

deploymentMode: SingleBinary

lokiCanary:
  enabled: true

# SỬA LỖI PERMISSION: Cấp quyền cho user loki (uid 10001)
singleBinary:
  replicas: 1
  persistence:
    enabled: false
  extraArgs:
    - "-config.expand-env=true"
# Quan trọng: Đảm bảo pod có quyền ghi disk
lokiInterface:
  securityContext:
    fsGroup: 10001
    runAsGroup: 10001
    runAsUser: 10001

# Tắt sạch các thành phần thừa
backend: {replicas: 0}
read: {replicas: 0}
write: {replicas: 0}
gateway: {enabled: false}
chunksCache: {enabled: false}
resultsCache: {enabled: false}