deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

# TẮT CÁC THÀNH PHẦN PHỤ
chunksCache:
  enabled: false
resultsCache:
  enabled: false
gateway:
  enabled: false
monitoring:
  lokiCanary:
    enabled: false # Tắt luôn loki-canary nếu muốn cực nhẹ