tempo:
  retention: 24h
  storage:
    trace:
      backend: local
      local:
        path: /var/tempo/traces
      wal:
        path: /var/tempo/wal
  searchEnabled: true

# Chạy bản đơn giản
replicas: 1