controller:
  type: daemonset

alloy:
  configMap:
    create: false
    name: alloy-config
    key: config.alloy

  extraPorts:
    - name: otlp-grpc
      port: 4317
    - name: otlp-http
      port: 4318

  mounts:
    varlog: true
    dockercontainers: true

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
